<!DOCTYPE HTML>
<html>
<head>
    <title>Full view</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
</head>
<body>
    <div class="date">
        <div class="btn-group">
            <button class="btn" type="button" data-toggle="dropdown">
                Дата
            </button>
            <div class="dropdown-menu">
                <a href="#">fg</a>
                <a href="#">fg</a>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="btn-group-vertical">
            <div class="sidbar">
                <div class="href"><a href="#">Закладки</a></div>
                <div class="href"><a href="#">Закупуки</a></div>
                <div class="href"><a href="#">Выводы</a></div>
                <div class="href"><a href="#">Продажи</a></div>
                <div class="href"><a href="#">Закупки</a></div>
            </div>
        </div>
        <div class="table">
            <table class="table table-hover">

                <thead class="thead-inverse">
                    <tr>
                        <th>Номер</th>
                        <th>Дата</th>
                        <th>Колличество</th>
                        <th>Инкубатор</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td class="bold">1</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td align="right"><button class="btn btn-mini">Изменить</button></td>
                    <td align="right"><button class="btn btn-danger">Удалить</button></td>
                </tr>
                <tr>
                    <td class="bold">2</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td align="right"><button class="btn btn-mini">Изменить</button></td>
                    <td align="right"><button class="btn btn-danger">Удалить</button></td>
                </tr>
                <tr>
                    <td class="bold">3</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td align="right"><button class="btn btn-mini">Изменить</button></td>
                    <td align="right"><button class="btn btn-danger">Удалить</button></td>
                </tr>
                <tr>
                    <td class="bold">4</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td align="right"><button class="btn btn-mini">Изменить</button></td>
                    <td align="right"><button class="btn btn-danger">Удалить</button></td>
                </tr>
                <tr>
                    <td class="bold">5</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td align="right"><button class="btn btn-mini">Изменить</button></td>
                    <td align="right"><button class="btn btn-danger">Удалить</button></td>
                </tr>
                <tr>
                    <td class="bold">6</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td>ffff</td>
                    <td align="right"><button class="btn btn-mini">Изменить</button></td>
                    <td align="right"><button class="btn btn-danger" value="delete">Удалить</button></td>
                </tr>
            </table>
        </div>
        <div class="primary"><button class="btn btn-primary">Добавить</button></div>
    </div>
    </div>
</body>
</html>