@model CreateBroodForm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Выводки";
}

<article class="content">
    <form asp-action="Add" asp-controller="Broods" method="post" class="col-md-3">
        <div class="form-group">
            <label asp-for="BroodDate"></label>
            <input type="text" class="form-control js-datetimepicker"/>
            <input asp-for="BroodDate" type="hidden" />
            <span asp-validation-for="BroodDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Count"></label>
            <input asp-for="Count" type="text" class="form-control"/>
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DeadCount"></label>
            <input asp-for="DeadCount" type="text" class="form-control" />
            <span asp-validation-for="DeadCount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmptyCount"></label>
            <input asp-for="EmptyCount" type="text" class="form-control" />
            <span asp-validation-for="EmptyCount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LotId"></label>
            <select asp-for="LotId" class="form-control">
                @foreach (var item in Model.Lots)
                {
                    <option value="@item.Id">@item.IdentifierNumber (@item.CreationDate.Year)</option>
                }
            </select>
            <span asp-validation-for="LotId"></span>
        </div>
        <input class="btn btn-success" type="submit" value="Сохранить" />
        <a class="btn btn-danger" asp-action="List" asp-controller="Broods">Отмена</a>
    </form>
</article>