<!DOCTYPE html>
<html>
<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="conteiner-fluid header color">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <div class="navbar-header home">
                    <a href="#" class="brand">Ссылка на главную</a>
                </div>
            </div>
            <div class="col-md-6 margin-left col-xs-2"> 
                <div class="button-top btn-group margin-left">
                    <button class="btn-blue dropdown-toggle" data-toggle="dropdown">Выберите год <span class="caret"></span></button><!--TODO: use datepicker for year-->
                    <ul class="dropdown-menu">
                        <li><a href="#"></a>2014</li>
                        <li><a href="#"></a>2015</li>
                        <li><a href="#"></a>2016</li>
                        <li><a href="#"></a>2017</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="conteiner-fluid">
        @RenderBody()
    </div>
</body>
</html>
