.conteiner{
    overflow: hidden;
}
.date{
    border: 1px solid #0066db;
    height: 50px;
    width: auto;
    background: #0066db;
}
.btn-group{
    position: absolute;
    right:50px;
    top:8px;
}
.btn-group-vertical{
    background: #efefef;
    width: 15%;
    border-radius: 3px;
    float: left;
    height: 500px;
}
.sidbar{
    margin-top: -300px;
}
.href{
    margin-top: 20px;
    margin-Left: 25px;
}
.table{
    margin-left: 10%;
    max-width: 90%;
    width: 95%;
}
table{
    background: #a2bbbf;
}
.table th{
   background: #474747;
   color: #fff; 
}
button{
   margin-right: -10px;
}
.primary{
   
}
.primary button{
   width:200px;
   height:50px;
   margin: 5px 0 0 60px;
}
.bold{
   font-size: 20px;
   font-weight: bold;
}